* {
    font-family: Inknut Antiqua;
}

main {
    display: flex;
    /* border: solid red 1px; */
    width: 80%;
    margin: auto;
    text-align: center;
}

body {
    background-color: rgb(240, 240, 240);
    font-size: 18px;
}

hr {
    width: 100%;
}
  
#evaluation-form {
    display: flex;
    flex-direction: column;
    /* border: blue solid 1px; */
    width: 100%;
}
  
#trybewarts-forms-logo {
    height: 500px;
}
  
#family-container {
    display: flex;
    /* font-size: 18px; */
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: red solid 1px; */
}
  
#family , #content-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}

#content-container {
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    /* border: black solid 1px; */
    /* flex-grow: 2; */
}

#family {
    /* border: black solid 1px; */
    align-items: flex-start;
    padding-right: 100px;
}
  
#form-data {
    font-size: 10px;
    /* display: flex; */
    width: 100%;
    height: 500px;
    /* border: solid red 1px; */
}

#email {
    height: 40px;
    border-radius: 10px;
    width: 30%;
}

#password {
    height: 40px;
    border-radius: 10px;
    width: 30%;
}

#btn-login {
    height: 45px;
    border-radius: 10px;
    background-color: rgb(81, 0, 128);
    color: white;
    width: 30%;
}

#form-section {
    /* border: solid yellow 1px; */
    width: 60%;
}

#first-infos {
    /* border: solid blue 1px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
    margin-bottom: 20px;
}

#name-lastname {
    display: flex;
    /* border: solid red 1px;    */
    width: 100%;
    justify-content: space-between;
}

#email-house {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#label-house {
    margin-left: 25px;
}

#house {
    width: 44%;
    border-radius: 10px;
    background-color: white;
}

#boxes {
    display: flex;
    /* border: blue solid 1px; */
    width: 400px;
    flex-wrap: wrap;
}

#rate-text {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

#text-area {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

#textarea {
    resize: none;
}

#counter {
    position: absolute;
    margin-left: 800px;
    margin-top: 115px;
}

#trybe-big-logo {
    display: flex;
    /* border: solid red 1px; */
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    /* margin-left: 200px; */
}

#label-infos {
    display: flex;
    justify-content: flex-start;
}

#submit-btn {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(81, 0, 128);
    color: white;
}

#footer {
    background-color: rgb(75, 76, 80);
    text-align: center;
    color: white;
}

.input-name {
    width: 48%;
    border-radius: 10px;
    height: 45px;
}

.input-lastname {
    width: 48%;
    border-radius: 10px;
    height: 45px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 167, 145);
    color: white;
    align-items: center;
    padding: 0 20px;
    font-size: 25px;
    /* border: solid red 1px; */
    height: 100px;
}
  
.trybewarts-login {
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    /* border: solid red 1px; */
}

.trybewarts-header-logo {
    width: 80px;
}

.labels-box {
    margin-right: 50px;
}
