* {
  font-family: "Inknut Antiqua", Times, serif;
}

main {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: center;
}

body {
  background-color: rgb(240, 240, 240);
  font-size: 18px;
}

hr {
  width: 100%;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family-container {
  display: flex;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#family , #content-container {
  display: flex;
  flex-direction: column;
}

#content-container {
  display: flex;
  align-items: flex-start;
}

#family {
  align-items: flex-start;
  padding-right: 100px;
}

#form-data {
  font-size: 10px;
  width: 100%;
  height: 500px;
}

#email {
  height: 40px;
  border-radius: 10px;
  width: 30%;
}

#password {
  height: 40px;
  border-radius: 10px;
  width: 30%;
}

#btn-login {
  height: 45px;
  border-radius: 10px;
  background-color: rgb(81, 0, 128);
  color: white;
  width: 30%;
}

#form-section {
  width: 60%;
}

#first-infos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  margin-bottom: 20px;
}

#name-lastname {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#email-house {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#label-house {
  margin-left: 25px;
}

#house {
  width: 44%;
  border-radius: 10px;
  background-color: white;
}

#boxes {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

#rate-text {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

#text-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

#textarea {
  resize: none;
}

#counter {
  position: absolute;
  margin-left: 800px;
  margin-top: 115px;
}

#trybe-big-logo {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

#label-infos {
  display: flex;
  justify-content: flex-start;
}

#submit-btn {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(81, 0, 128);
  color: white;
}

#footer {
  background-color: rgb(75, 76, 80);
  text-align: center;
  color: white;
}

.input-name {
  width: 48%;
  border-radius: 10px;
  height: 45px;
}

.input-lastname {
  width: 48%;
  border-radius: 10px;
  height: 45px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  color: white;
  align-items: center;
  padding: 0 20px;
  font-size: 25px;
  height: 100px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
}

.trybewarts-header-logo {
  width: 80px;
}

.labels-box {
  margin-right: 50px;
}
